.header {
    background-color: rgb(125, 199, 248);
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.picture {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}